@font-face {
  font-family: 'DM Sans', sans-serif;
  src: url('./fonts/DMSans-Light.ttf');
  font-weight: 200;
}

@font-face {
  src: url('./fonts/DMSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'DM Sans', sans-serif;
  src: url('./fonts/DMSans-SemiBold.ttf');
  font-weight: 600;
}
